<h1>Grocery List</h1>

<%= form_with url: "/grocery_list", method: :post, local: :true do |form| %>
  <h2><%= form.label :item, "Item:" %></h2>
  <%= form.text_field :item %>
  <p><%= form.submit "Add" %></p>
<% end %><br>

<% @items.each do |item| %>
  <h3><li><%= item.name %></li></h3>
  <%= button_to "Delete #{item.name}", "/grocery_list/#{item.id}", method: :delete %>
  <%= button_to "Update #{item.name}", "/update/#{item.id}", method: :get %><br>
<% end %>
